@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes about-column-slidein {
  from {opacity: 0; left: -100%;}
  to {opacity: 0.7; left: 0;}
}

@keyframes about-column-decoration-slidein {
  from {opacity: 0; left: -100%;}
  to {opacity: 0.5; left: 0;}
}

@keyframes about-column-content-slidein {
  from {opacity: 0; margin-left: -100px;}
  to {opacity: 1; margin-left: 0;}
}
